<div class="header-top">
  <span> Manage Your Property and Contribute to Sustainable Dvelopment </span>
  <img
    src="../image/svg/close.svg"
    alt="close icon"
    class="close-header-head"
  />
</div>
<div class="container desktop-header">
  <div class="header-content">
    <img src="../image/svg/header-logo.svg" class="convert-svg" alt="Logo" />
    <div class="header-search-block">
      <input
        type="text"
        name="search"
        id="search-content"
        class="form-control-search"
        placeholder="Search for anything…"
      />
      <button class="start-search-btn-header">
        <object data="../image/svg/loop.svg" width="26" height="26"></object>
      </button>
    </div>
    <div class="header-buttons">
      <div class="account-controler-header">
        <div class="account-control-btn">
          <div class="user-info-account-control">
            <button class="header-avatar-image">
              <img src="../image/svg/header-btn/avatar.svg" alt="avatar" />
            </button>
            <div class="welcome-text-account-control">
              <p>Welcome</p>
              <span>Name</span>
            </div>
          </div>
          <img src="../image/svg/header-btn/arrow.svg" alt="down icon" />
        </div>
        <div
          class="account-controller-dropdown-unauthorized show-unauthed-account-controller"
        >
          <div class="account-controller-dropdown-btns">
            <button class="sign-in bold">Sign in</button>
            <button class="register bold">Register</button>
          </div>
          <hr class="account-controller-dropdown-hr" />
          <div class="language-switcher">
            <div
              class="choose-language"
              style="background-image: url('../image/uk-flag.png')"
              data-name="en"
            ></div>
            <div
              class="choose-language"
              data-name="geo"
              style="background-image: url('../image/geo-flag.webp')"
            ></div>
          </div>
          <hr
            class="account-controller-dropdown-hr"
            style="margin-bottom: 16px"
          />
          <a href="#" class="account-controller-password-change"
            >Password change</a
          >
          <hr class="account-controller-dropdown-hr" style="margin-top: 16px" />
          <ul class="account-controller-dropdown-menu-items">
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Account Informaton</a></li>
            <li><a href="#">My Social Projects</a></li>
            <li><a href="#">My Products</a></li>
            <li><a href="#">Sold</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">Delivery Addresses</a></li>
          </ul>
        </div>
      </div>
      <div class="add-new-content-header header-buttons-content">
        <div class="add-new-content-btn"><span>+</span></div>
      </div>
      <div class="messages-content-header header-buttons-content">
        <button class="header-btn-standard">
          <img src="../image/svg/header-btn/mail.svg" alt="msg" />
        </button>
      </div>
      <div class="notifications-content-header header-buttons-content">
        <button class="header-btn-standard">
          <img src="../image/svg/header-btn/zari.svg" alt="nots" />
        </button>
      </div>
      <div class="favorite-content-header header-buttons-content">
        <button class="header-btn-standard">
          <img src="../image/svg/header-btn/heart.svg" alt="favorite" />
        </button>
      </div>
      <div class="cart-content-header header-buttons-content">
        <button class="header-btn-standard">
          <img src="../image/svg/header-btn/shop.svg" alt="card" />
        </button>
      </div>
    </div>
  </div>
  <nav class="header-show-sections-desktop">
    <ul class="nav-bar-list">
      <li class="active-nav">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="16"
          viewBox="0 0 18.71 15.903"
        >
          <path
            id="Path_792"
            data-name="Path 792"
            d="M11.355,5.516l4.677,4.21v7.306H14.161V11.419H8.548v5.613H6.677V9.726l4.677-4.21m0-2.516L2,11.419H4.806V18.9h5.613V13.29H12.29V18.9H17.9V11.419H20.71Z"
            transform="translate(-2 -3)"
            fill="#4cc334"
          />
        </svg>
        <p class="navbar-desktop-text">Home</p>
      </li>
      <li>
        <object data="../image/svg/menu/market.svg" height="16px"></object>
        <p class="navbar-desktop-text">Market</p>
      </li>
      <li>
        <object data="../image/svg/menu/shop.svg" height="16px"></object>
        <p class="navbar-desktop-text">Shop</p>
      </li>
      <li>
        <object data="../image/svg/menu/social1.svg" height="16px"></object>
        <p class="navbar-desktop-text">Charities & NPOs</p>
      </li>
      <li>
        <object data="../image/svg/menu/social.svg" height="16px"></object>
        <p class="navbar-desktop-text">Social Programs</p>
      </li>
      <li>
        <object data="../image/svg/menu/news.svg" height="16px"></object>
        <p class="navbar-desktop-text">News</p>
      </li>
    </ul>
    <div class="navbar-redirect-links">
      <a href="/about">About Us</a>
      <a href="/help">Help&Contact</a>
    </div>
  </nav>
</div>

<div class="header-mobile mobile-view">
  <div class="header-mobile-item">
    <div class="header-mobile-items-block active-mobile-header-items">
      <object data="../image/svg/menu/home.svg" height="22px"></object>
    </div>
    <p
      class="header-mobile-item-title active-mobile-header-title"
      style="visibility: hidden"
    >
      Home
    </p>
  </div>
  <div class="vr-line"></div>
  <div class="header-mobile-item">
    <div class="header-mobile-items-block">
      <object data="../image/svg/menu/market.svg" height="22px"></object>
    </div>
    <p class="header-mobile-item-title" style="visibility: hidden">Market</p>
  </div>
  <div class="vr-line"></div>
  <div class="header-mobile-item">
    <div class="header-mobile-items-block">
      <object data="../image/svg/menu/shop.svg" height="22px"></object>
    </div>
    <p class="header-mobile-item-title" style="visibility: hidden">Shop</p>
  </div>
  <div class="vr-line"></div>
  <div class="header-mobile-item">
    <div class="header-mobile-items-block">
      <object data="../image/svg/menu/social1.svg" height="22px"></object>
    </div>
    <p class="header-mobile-item-title" style="visibility: hidden">Social</p>
  </div>
  <div class="vr-line"></div>
  <div class="header-mobile-item">
    <div class="header-mobile-items-block">
      <object data="../image/svg/menu/social.svg" height="22px"></object>
    </div>
    <p class="header-mobile-item-title" style="visibility: hidden">Social</p>
  </div>
  <div class="vr-line"></div>
  <div class="header-mobile-item">
    <div class="header-mobile-items-block">
      <object data="../image/svg/menu/news.svg" height="22px"></object>
    </div>
    <p class="header-mobile-item-title" style="visibility: hidden">News</p>
  </div>
</div>

<div class="header-bottom-section-mobile mobile-view">
  <img src="../image/svg/header-logo.svg" class="logo-on-mobile" alt="Logo" />
  <button class="show-categories-mobile-view">
    <img
      src="../image//svg/categories-icon.svg"
      alt="categories"
      class="categories-icon-header-mobile-view"
    />
    Categories
  </button>
</div>

<div class="header-search-block-mobile mobile-view">
  <input
    type="text"
    name="search"
    id="search-content-mobile"
    class="form-control-search-mobile"
    placeholder="Search for anything…"
  />
  <button class="start-search-btn-header-mobile">
    <object data="../image/svg/loop.svg" width="26" height="26"></object>
  </button>
</div>

<script>
  $(".account-control-btn").on("click", () => {
    $(".show-unauthed-account-controller").show();
  });
  $(document).mouseup(function (e) {
    const targetEl = $(".show-unauthed-account-controller");

    if (!targetEl.is(e.target) && targetEl.has(e.target).length === 0) {
      targetEl.hide();
    }
  });
</script>
