<div class="organizations-banner-container">
  <div class="organization-banner-image-container">
    <div class="organization-page-baner-image"></div>
  </div>
  <div class="organization-banner-info-container">
    <div class="organization-name-box bold">Name Surname</div>
    <div class="followers-info">
      <div class="following">
        <p>28</p>
        <p>following</p>
      </div>
      <div class="followers">
        <p>7</p>
        <p>following</p>
      </div>
    </div>
    <div class="socials-in-organization-banner">
      <img src="../image/svg/fb-profile.svg" alt="social" class="social-icons-in-organization-banner">
      <img src="../image/svg/web-profile.svg" alt="social" class="social-icons-in-organization-banner">
      <img src="../image/svg/footer-icon/instagram.svg" alt="social" class="social-icons-in-organization-banner">
      <img src="../image/svg/footer-icon/instagram.svg" alt="social" class="social-icons-in-organization-banner">
    </div>
  </div>
</div>
