<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./aside-modal.css" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="aside-modal">
      <div class="aside-modal-backdrop"></div>
      <div class="aside-modal-box">
        <div class="aside-modal-title">
          <p class="bold aside-modal-name">Wish list</p>
          <img src="../image/svg/popup-close.svg" alt="" style="cursor: pointer;" />
        </div>
        <div class="items-list-in-aside-modal">
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
          <ul class="table-row-in-aside-modal">
            <span style="display: flex; align-items: center">
              <li>
                <div
                  class="table-row-in-aside-modal-image"
                  style="background-image: url('../image/iphone-banner.png')"
                ></div>
              </li>
              <li
                style="width: 180px; margin-left: 13px"
                class="about-product-cart"
              >
                <div>
                  <span class="table-row-in-aside-modal-status">New</span>
                  <p class="table-row-in-aside-modal-title">
                    TCL 40S325 40 Inch 1080p Smart LED Roku TV
                  </p>
                </div>
                <div class="prices-boxes">
                  <span class="table-row-in-aside-modal-current-price bold"
                    >1,239.39 ₾</span
                  >
                  <span class="table-row-in-aside-modal-old-price"
                    >1,430.30₾</span
                  >
                </div>
              </li>
            </span>
            <li class="in-stocks" style="padding-left: 70px;">In Stock: 2</li>
            <li class="move-to-cart"><a href="#">Move to cart</a></li>
            <li class="remove-from-cart">
              <button><img src="../image/svg/trash.svg" alt="" /></button>
            </li>
          </ul>
        </div>
        <div class="aside-modal-bottom-control">
            <button class="go-to-cart-button bold">Go To Cart</button>
        </div>
      </div>
    </div>

    <script src="./mobile-popups.js"></script>
  </body>
</html>
