<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mobile-popups.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="component" style="width: 100%;">
        <div class="search-dropdown-content">
            <ul class="search-suggestion-list">
                <p class="section-name-in-search">History</p>
                <li>
                    <p>Iphone 13 PRO</p>
                    <button><img src="../image/svg/clear-bold.svg" alt=""></button>
                </li>
                <li>                    <p>Iphone 13 PRO</p>
                    <button><img src="../image/svg/clear-bold.svg" alt=""></button>
                </li>
                <li>
                    <p>Iphone 13 PRO</p>
                    <button><img src="../image/svg/clear-bold.svg" alt=""></button>
                </li>
                <li>
                    <p>Iphone 13 PRO</p>
                </li>
                <li>
                    <p>Iphone 13 PRO</p>
                </li>
                <li class="search-result-types">
                    <p class="category-type-name">Products (234)</p>
                    <a href="#" class="view-all-in-search">View all</a>
                </li>
                <li class="search-result-types">
                    <p class="category-type-name">Shop (23)</p>
                    <a href="#" class="view-all-in-search">View all</a>
                </li>
                <li class="search-result-types">
                    <p class="category-type-name">Charities (12)</p>
                    <a href="#" class="view-all-in-search">View all</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="./mobile-popups.js"></script>
</body>
</html>