<div class="account-controller-dropdown-btns">
  <button class="sign-in bold">Sign in</button>
  <button class="register bold">Register</button>
</div>
<div class="account-controller-dropdown-hr" />
<div class="language-switcher">
  <div
    class="choose-language"
    style="background-image: url('../image/uk-flag.png')"
    data-name="en"
  ></div>
  <div
    class="choose-language"
    data-name="geo"
    style="background-image: url('../image/geo-flag.webp')"
  ></div>
</div>
<div class="account-controller-dropdown-hr" style="margin-bottom: 16px;" />
<a href="#" class="account-controller-password-change">Password change</a>
<div class="account-controller-dropdown-hr"/>
<ul class="account-controller-dropdown-menu-items">
  <li><a href="#">View Profile</a></li>
  <li><a href="#">Account Informaton</a></li>
  <li><a href="#">My Social Projects</a></li>
  <li><a href="#">My Products</a></li>
  <li><a href="#">Sold</a></li>
  <li><a href="#">My Orders</a></li>
  <li><a href="#">Delivery Addresses</a></li>
</ul>
<div class="account-controller-dropdown-hr"/>
<ul class="account-controller-dropdown-menu-items">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Help & Contact</a></li>
  </ul>