<div class="news-list-container">
    <div class="news-section-title">
        <p class="section-title">News</p>
        <a href="#" class="section-view-all">View all</a>
    </div>
    <div class="news-items-list">
        <div class="news-item-container"></div>
        <div class="news-item-container"></div>
        <div class="news-item-container"></div>
        <div class="news-item-container"></div>
    </div>
</div>

<script>
    $('.news-item-container').load('./fragments/mainPage/newsItem.html')
</script>