<div class="modal-popup-content-container">
    <div class="modal-popup-header">
        <h2>Following ''7''</h2>
        <img src="../../image/svg/popup-close.svg" alt="close">
    </div>
    <div class="registration-input-container" style="margin-top: 24px;">
        <div class="rollowing-items-list">
            <div style="display: flex; align-items:center;">
                <img src="../../image/zoomer.png" alt="user image">
                <p class=";pggowing-name-surname">Name Surname</p>
            </div>
            <button class="follow-button">Follow</button>
        </div>
        <div class="rollowing-items-list">
            <div style="display: flex; align-items:center;">
                <img src="../../image/zoomer.png" alt="user image">
                <p class=";pggowing-name-surname">Name Surname</p>
            </div>
            <button class="unfollow-button">Unfollow</button>
        </div>
        <div class="rollowing-items-list">
            <div style="display: flex; align-items:center;">
                <img src="../../image/zoomer.png" alt="user image">
                <p class=";pggowing-name-surname">Name Surname</p>
            </div>
            <button class="follow-button">Follow</button>
        </div>
        <div class="rollowing-items-list">
            <div style="display: flex; align-items:center;">
                <img src="../../image/zoomer.png" alt="user image">
                <p class=";pggowing-name-surname">Name Surname</p>
            </div>
            <button class="follow-button">Follow</button>
        </div>
        <div class="rollowing-items-list">
            <div style="display: flex; align-items:center;">
                <img src="../../image/zoomer.png" alt="user image">
                <p class=";pggowing-name-surname">Name Surname</p>
            </div>
            <button class="follow-button">Follow</button>
        </div>
    </div>
</div>