<div class="modal-popup-content-container">
    <div class="modal-popup-header">
        <h2>Forgot Password?</h2>
        <img src="../../image/svg/popup-close.svg" alt="close">
    </div>
    <div class="registration-input-container" style="margin-top: 8px;">
        <div class="block auth-inputs">
            <div style="position: absolute; margin-top: 12px; height: 44px; display: flex; align-items: center; margin-left: 15px;">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-start" alt="">
            </div>
            <input type="email" class="registration-input-fields" placeholder="Email">
        </div>
        <button class="registration-button bold">Send Recovery Link</button>
    </div>
    <div class="alredy-registered">
        <p class="fs15" style="color: #828282;">New customer? </p><a href="#" class="fs15 reg-btn-in-popup">Register</a>
    </div>
</div>