<div class="modal-popup-content-container">
    <div class="modal-popup-header">
        <h2>Forgot Password?</h2>
        <img src="../../image/svg/popup-close.svg" alt="close">
    </div>
    <div class="registration-input-container" style="margin-top: 8px;">
        <div class="block">
            <div class="d-flex-between">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-start" alt="">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-the-end" alt="">
            </div>
            <input type="text" class="registration-input-fields" placeholder="Repeat Password">
        </div>
        <div class="block">
            <div class="d-flex-between">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-start" alt="">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-the-end" alt="">
            </div>
            <input type="text" class="registration-input-fields" placeholder="Repeat Password">
        </div>
        <button class="registration-button bold">Change password</button>
    </div>
</div>