<div class="modal-popup-content-container">
    <div class="modal-popup-header">
        <h2>Registration as</h2>
        <img src="../../image/svg/popup-close.svg" alt="close">
    </div>
    <div class="registration-switcher">
        <div class="active">
            <img src="../../image/svg/usergreen.svg" alt="">
            <p>Standard</p>
        </div>
        <div>
            <img src="../../image/svg/username.svg" alt="">
            <p>Shop</p>
        </div>
        <div>
            <img src="../../image/svg/username.svg" alt="">
            <p>Charity or NPO</p>
        </div>
    </div>
    <div class="registration-input-container">
        <div class="block">
            <div style="position: absolute; margin-top: 12px; height: 44px; display: flex; align-items: center; margin-left: 15px;">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-start" alt="">
            </div>
            <input type="text" class="registration-input-fields" placeholder="Full Name">
        </div>
        <div class="block">
            <div style="position: absolute; margin-top: 12px; height: 44px; display: flex; align-items: center; margin-left: 15px;">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-start" alt="">
            </div>
            <input type="text" class="registration-input-fields" placeholder="Email">
        </div>
        <div class="block">
            <div class="d-flex-between">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-start" alt="">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-the-end" alt="">
            </div>
            <input type="text" class="registration-input-fields" placeholder="Password">
        </div>
        <div class="block">
            <div class="d-flex-between">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-start" alt="">
                <img src="../../image/svg/username.svg" class="imput-fields-icon-at-the-end" alt="">
            </div>
            <input type="text" class="registration-input-fields" placeholder="Repeat Password">
        </div>
        <button class="registration-button bold">Create Account</button>
        <div class="terms-and-conditions">
            <input type="checkbox" name="agree" id="agreement-checkbox" class="checkbox-in-reg">
            <p>By creating account, you agree to the <a href="#">ItemsSphere's Free Membership Agreement</a> and <a href="#">Privacy Policy</a></p>
        </div>
    </div>
    <div class="alredy-registered">
        <p class="fs15" style="color: #828282;">Have account? </p><a href="#" class="fs15" style="color: #41C227; text-decoration: none; margin-left: 5px">Sign in</a>
    </div>
</div>